@import url(https://fonts.googleapis.com/css?family=Raleway:regular,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Roboto:300&display=swap);

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-bicycle-main:before {
  content: "\e900";
}

._icon-building-main:before {
  content: "\e901";
}

._icon-facebook-footer:before {
  content: "\e902";
}

._icon-fountain-main:before {
  content: "\e903";
}

._icon-instagram-footer:before {
  content: "\e904";
}

._icon-map-header:before {
  content: "\e906";
}

._icon-mouse-header:before {
  content: "\e907";
}

._icon-parks-main:before {
  content: "\e908";
}

._icon-phone-header:before {
  content: "\e909";
}

._icon-vk-footer:before {
  content: "\e90a";
}

._icon-youtube-footer:before {
  content: "\e90b";
}

._icon-play-img:before {
  content: "\e90c";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Raleway";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Raleway";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

body {
  background-color: #242b33;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

a {
  -webkit-transition: color 0.5s ease-in 0s;
  transition: color 0.5s ease-in 0s;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container-sm] {
  max-width: 49.6875rem;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0rem 0.9375rem;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: insert(50%);
          clip-path: insert(50%);
}

.none {
  display: none !important;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.icon-menu {
  display: none;
}

.no-webp .header{
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11.98%, #242B33), color-stop(51.04%, rgba(45, 52, 60, 0.38)), color-stop(92.19%, #242B33)), url("../img/Header/Header-bg.jpg"); }

.no-webp .header{
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url("../img/Header/Header-bg.jpg"); }

.header {
  min-height: 52.5rem;
}

.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header__logo {
  z-index: 9;
  padding-right: 0.625rem;
}

.top-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.top-header__link {
  font-size: 0.875rem;
  line-height: 1.1428571429;
  font-weight: 400;
  letter-spacing: 0.7px;
}

.body-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-header__title {
  position: relative;
  text-align: center;
  line-height: 1.3333333333;
  font-weight: 700;
  font-family: "Playfair Display";
  color: #d4c17f;
  padding-bottom: 5rem;
}

.body-header__mouse {
  position: relative;
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border: 4px solid #d4c17f;
  color: #d4c17f;
  border-radius: 50%;
  height: 3.75rem;
  width: 2.5rem;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.body-header__mouse::before {
  content: "";
  position: absolute;
  border: 2px solid #d4c17f;
  top: 0.625rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 0.625rem;
  width: 0;
  border-radius: 0.1875rem;
}

.contacts-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 6.125rem;
  line-height: 1.1666666667;
  font-weight: 400;
}

.contacts-body__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.875rem;
     -moz-column-gap: 0.875rem;
          column-gap: 0.875rem;
}

.contacts-body__map::before {
  font-size: 1.3125rem;
}

.contacts-body__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.875rem;
     -moz-column-gap: 0.875rem;
          column-gap: 0.875rem;
}

.contacts-body__phone::before {
  font-size: 1.3125rem;
}

.footer {
  background-color: #2d343c;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 3.5625rem;
     -moz-column-gap: 3.5625rem;
          column-gap: 3.5625rem;
}

.footer__items {
  white-space: nowrap;
  padding-top: 0.75rem;
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.footer__item {
  font-size: 0.875rem;
  letter-spacing: 0.7px;
}

.footer__link span {
  color: #d4c17f;
  font-weight: 600;
}

.footer__contacts-socials {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
}

.footer__items-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.375rem;
     -moz-column-gap: 1.375rem;
          column-gap: 1.375rem;
}

.footer__link-icon {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s ease-in 0s;
  transition: -webkit-transform 0.3s ease-in 0s;
  transition: transform 0.3s ease-in 0s;
  transition: transform 0.3s ease-in 0s, -webkit-transform 0.3s ease-in 0s;
}

.footer__link-icon::before {
  font-size: 1.25rem;
}

.page__advantages {
  position: relative;
}

.page__advantages::after {
  content: "II";
  position: absolute;
  font-size: 25rem;
  opacity: 0.02;
  font-family: "Playfair Display";
  font-weight: 700;
  top: 2.5rem;
  left: calc(50% + 34.6875rem);
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.page__apartments {
  position: relative;
}

.page__apartments::before {
  content: "III";
  position: absolute;
  font-size: 25rem;
  opacity: 0.02;
  font-family: "Playfair Display";
  font-weight: 700;
  top: 0rem;
  right: calc(51% + 34.6875rem);
  -webkit-transform: translate(51%, 0);
      -ms-transform: translate(51%, 0);
          transform: translate(51%, 0);
}

.no-webp .page__cta{
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10.42%, #242b33), color-stop(50.52%, rgba(36, 43, 51, 0)), color-stop(90.1%, #242b33)), -webkit-gradient(linear, left bottom, left top, from(rgba(36, 43, 51, 0.9)), to(rgba(36, 43, 51, 0.9))), url("../img/main/cta/sta-bg.jpg"); }

.no-webp .page__cta{
  background: linear-gradient(180deg, #242b33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242b33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url("../img/main/cta/sta-bg.jpg"); }

.page__video {
  position: relative;
}

.page__video::after {
  content: "IV";
  position: absolute;
  font-size: 25rem;
  opacity: 0.02;
  font-family: "Playfair Display";
  font-weight: 700;
  top: 6.25rem;
  left: calc(50% + 34.6875rem);
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.page__map {
  position: relative;
}

.page__map::before {
  content: "V";
  position: absolute;
  font-size: 25rem;
  opacity: 0.02;
  font-family: "Playfair Display";
  font-weight: 700;
  z-index: -1;
  top: 11.25rem;
  right: calc(51.5% + 34.6875rem);
  -webkit-transform: translate(51.5%, 0);
      -ms-transform: translate(51.5%, 0);
          transform: translate(51.5%, 0);
}

.title {
  line-height: 1.3333333333;
  font-weight: 700;
  font-family: "Playfair Display";
  color: #d4c17f;
}

.input-name-phone {
  border-radius: 0.1875rem;
  text-align: center;
  padding: 0.75rem;
  height: 3.125rem;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 0.875rem;
  line-height: 1.9285714286;
  font-weight: 400;
  color: #fff;
}

.input-name-phone ::-webkit-input-placeholder {
  color: #bebebe;
  font-size: 0.875rem;
  line-height: 1.9285714286;
  font-weight: 400;
  opacity: 1;
}

.input-name-phone ::-moz-placeholder {
  color: #bebebe;
  font-size: 0.875rem;
  line-height: 1.9285714286;
  font-weight: 400;
  opacity: 1;
}

.input-name-phone :-ms-input-placeholder {
  color: #bebebe;
  font-size: 0.875rem;
  line-height: 1.9285714286;
  font-weight: 400;
  opacity: 1;
}

.input-name-phone ::-ms-input-placeholder {
  color: #bebebe;
  font-size: 0.875rem;
  line-height: 1.9285714286;
  font-weight: 400;
  opacity: 1;
}

.input-name-phone ::placeholder {
  color: #bebebe;
  font-size: 0.875rem;
  line-height: 1.9285714286;
  font-weight: 400;
  opacity: 1;
}

.button {
  white-space: nowrap;
  border-radius: 0.1875rem;
  text-align: center;
  padding: 0.75rem;
  height: 3.125rem;
  background-color: #d4c17f;
  line-height: 1.6875;
  font-weight: 700;
}

.text-privacy {
  text-align: center;
  font-size: 0.8125rem;
  line-height: 1.2307692308;
  font-weight: 400;
  color: #e7e7e7;
}

.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.items-advantages {
  text-align: center;
  display: -ms-grid;
  display: grid;
}

.items-advantages__icon {
  display: inline-block;
  color: #d4c17f;
}

.items-advantages__text {
  line-height: 1.35;
  font-family: "Roboto";
  font-weight: 300;
}

.apartments__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 1.875rem;
}

.apartments__items-link-ibg {
  position: relative;
  overflow: hidden;
  display: block;
  padding-bottom: 59.2592592593%;
}

.apartments__items-link-ibg::before {
  content: "";
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 43, 51, 0)), to(#242b33));
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242b33 100%);
}

.apartments__items-link-ibg::after {
  content: "";
  opacity: 0;
  position: absolute;
  z-index: 7;
  top: 1.5625rem;
  left: 1.5625rem;
  right: 1.5625rem;
  bottom: 1.5625rem;
  border: 3px double rgba(255, 255, 255, 0.4);
  -webkit-transition: opacity 0.4s ease-in 0s;
  transition: opacity 0.4s ease-in 0s;
}

.apartments__image {
  position: relative;
  z-index: 5;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.apartments__items-link-ibg:hover .apartments__image {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: contrast(110%) brightness(1.2) saturate(1.2);
          filter: contrast(110%) brightness(1.2) saturate(1.2);
}

.apartments__item-title {
  z-index: 9;
  position: absolute;
  right: 0.9375rem;
  line-height: 1.1666666667;
  font-weight: 400;
}

.cta__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}

.cta__title:not(:last-child) {
  margin-bottom: 1.0625rem;
}

.cta__text {
  line-height: 1.5;
  font-weight: 400;
}

.cta__text p + p {
  margin-top: 1em;
}

.forms-cta {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.forms-cta__button {
  -webkit-transition: background-color 0.4s ease-in 0s;
  transition: background-color 0.4s ease-in 0s;
}

.video {
  overflow: hidden;
  text-align: center;
}

.video__container {
  max-width: 46.875rem;
}

.video__link-ibg {
  padding-bottom: 90.2777777778%;
  display: block;
  position: relative;
}

.video__link-ibg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 43, 51, 0.8);
  -webkit-transition: background-color 0.3s ease-in 0s;
  transition: background-color 0.3s ease-in 0s;
}

.video__link-ibg::before {
  position: absolute;
  z-index: 9;
  color: #d4c17f;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.video__link-ibg:hover::before {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
      -ms-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.map__map {
  width: 100%;
  height: 22.375rem;
  background-color: #626262;
}

.form-feedback {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 1.875rem;
}

.form-feedback__text-privacy {
  margin-right: 0.3125rem;
}

[class*=copyrights-pane] {
  /* display: none !important; */
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.map:hover [class*=copyrights-pane] {
  opacity: 1;
}

/* Создать свою карту */

[class*=gototech] {
  display: none !important;
}

/*
[class*="ground-pane"] {
	filter: grayscale(1) sepia(10%);
}
*/

/* Baloon */

[class*=balloon__layout],
[class*=balloon__content] {
  background-color: #d4c17f !important;
  color: #fff !important;
  font-weight: 500 !important;
}

[class*=balloon__tail]::after {
  background-color: #d4c17f !important;
}

[class*=balloon_layout_panel] {
  background-color: #242b33 !important;
}

[class*=balloon__layout],
[class*=balloon__content] a {
  color: #fff !important;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

[class*=balloon__close-button] {
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  background: url("./../img/main/map/cross.svg") rgb(128, 128, 128) 50% no-repeat !important;
  width: 15px !important;
  height: 15px !important;
  margin: 10px 7px;
}

@media (min-width: 71.25em) {
  .header__top {
    padding-top: 1.875rem;
  }

  .header__top {
    padding-bottom: 14.0625rem;
  }

  .body-header__title {
    font-size: 3rem;
  }

  .contacts-body {
    padding-top: 12.5rem;
  }

  .contacts-body {
    font-size: 1.125rem;
  }

  .footer {
    padding-top: 3.75rem;
  }

  .footer {
    padding-bottom: 3.125rem;
  }

  .page__advantages {
    padding-top: 7.5rem;
  }

  .page__advantages {
    padding-bottom: 7.5rem;
  }

  .page__cta {
    padding-top: 11.25rem;
  }

  .page__cta {
    padding-bottom: 11.25rem;
  }

  .page__map {
    padding-top: 11.25rem;
  }

  .page__map {
    padding-bottom: 11.25rem;
  }

  .page__feedback {
    padding-bottom: 11.25rem;
  }

  .title {
    font-size: 2.25rem;
  }

  .items-advantages {
    gap: 3.3125rem;
  }

  .items-advantages__icon {
    font-size: 5rem;
  }

  .items-advantages__text {
    font-size: 1.25rem;
  }

  .apartments__title:not(:last-child) {
    margin-bottom: 5.5rem;
  }

  .apartments__item-title {
    left: 3.125rem;
  }

  .apartments__item-title {
    bottom: 2.75rem;
  }

  .apartments__item-title {
    font-size: 1.5rem;
  }

  .forms-cta {
    padding-top: 4.0625rem;
  }

  .video__link-ibg::before {
    font-size: 6.25rem;
  }

  .map__title:not(:last-child) {
    margin-bottom: 5.5rem;
  }

  .feedback__title:not(:last-child) {
    margin-bottom: 2.375rem;
  }
}

@media (max-width: 20em) {
  .header__top {
    padding-top: 1.25rem;
  }

  .header__top {
    padding-bottom: 5rem;
  }

  .body-header__title {
    font-size: 2.125rem;
  }

  .contacts-body {
    padding-top: 8.75rem;
  }

  .contacts-body {
    font-size: 1rem;
  }

  .footer {
    padding-top: 1.875rem;
  }

  .footer {
    padding-bottom: 1.5625rem;
  }

  .page__advantages {
    padding-top: 3.75rem;
  }

  .page__advantages {
    padding-bottom: 3.75rem;
  }

  .page__cta {
    padding-top: 3.75rem;
  }

  .page__cta {
    padding-bottom: 3.75rem;
  }

  .page__map {
    padding-top: 3.75rem;
  }

  .page__map {
    padding-bottom: 3.75rem;
  }

  .page__feedback {
    padding-bottom: 3.75rem;
  }

  .title {
    font-size: 1.375rem;
  }

  .items-advantages {
    gap: 1.5625rem;
  }

  .items-advantages__icon {
    font-size: 3.75rem;
  }

  .items-advantages__text {
    font-size: 1rem;
  }

  .apartments__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .apartments__item-title {
    left: 1.875rem;
  }

  .apartments__item-title {
    bottom: 1.875rem;
  }

  .apartments__item-title {
    font-size: 1rem;
  }

  .forms-cta {
    padding-top: 1.5625rem;
  }

  .video__link-ibg::before {
    font-size: 4.375rem;
  }

  .map__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .feedback__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 61.99875em) {
  .header {
    min-height: unset;
  }

  .top-header__link {
    white-space: nowrap;
  }

  .footer__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .footer__item {
    text-align: center;
    font-size: 1rem;
    line-height: 1.75;
  }

  .footer__items-icons {
    padding-left: 3rem;
  }

  .advantages__row {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 2.1875rem;
  }

  .cta__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .form-feedback {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .form-feedback__text-privacy_bottom {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
}

@media (max-width: 59.9375rem) {
  .apartments__cards {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .top-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2.1875rem;
  }

  .top-header__link {
    font-size: 1.5rem;
  }

  .menu__body {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    padding: 12.5rem 0;
    overflow: auto;
    background-color: #242b33;
    -webkit-transition: left 0.4s ease-in 0s;
    transition: left 0.4s ease-in 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .contacts-body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 3rem;
  }

  .forms-cta {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .forms-cta__text-privacy_bottom {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (min-width: 20em) and (max-width: 71.25em) {
@supports (padding-top: clamp( 1.25rem , 1.006097561rem  +  1.2195121951vw , 1.875rem )) {
    .header__top {
      padding-top: clamp( 1.25rem , 1.006097561rem  +  1.2195121951vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 1.006097561rem  +  1.2195121951vw , 1.875rem )) {
    .header__top {
      padding-top: calc(1.25rem + 0.625 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 5rem , 1.4634146341rem  +  17.6829268293vw , 14.0625rem )) {
    .header__top {
      padding-bottom: clamp( 5rem , 1.4634146341rem  +  17.6829268293vw , 14.0625rem );
    }
}

@supports not (padding-bottom: clamp( 5rem , 1.4634146341rem  +  17.6829268293vw , 14.0625rem )) {
    .header__top {
      padding-bottom: calc(5rem + 9.0625 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 2.125rem , 1.7835365854rem  +  1.7073170732vw , 3rem )) {
    .body-header__title {
      font-size: clamp( 2.125rem , 1.7835365854rem  +  1.7073170732vw , 3rem );
    }
}

@supports not (font-size: clamp( 2.125rem , 1.7835365854rem  +  1.7073170732vw , 3rem )) {
    .body-header__title {
      font-size: calc(2.125rem + 0.875 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 8.75rem , 7.2865853659rem  +  7.3170731707vw , 12.5rem )) {
    .contacts-body {
      padding-top: clamp( 8.75rem , 7.2865853659rem  +  7.3170731707vw , 12.5rem );
    }
}

@supports not (padding-top: clamp( 8.75rem , 7.2865853659rem  +  7.3170731707vw , 12.5rem )) {
    .contacts-body {
      padding-top: calc(8.75rem + 3.75 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 1rem , 0.9512195122rem  +  0.243902439vw , 1.125rem )) {
    .contacts-body {
      font-size: clamp( 1rem , 0.9512195122rem  +  0.243902439vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9512195122rem  +  0.243902439vw , 1.125rem )) {
    .contacts-body {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .footer {
      padding-top: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .footer {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.9527439024rem  +  3.0487804878vw , 3.125rem )) {
    .footer {
      padding-bottom: clamp( 1.5625rem , 0.9527439024rem  +  3.0487804878vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.9527439024rem  +  3.0487804878vw , 3.125rem )) {
    .footer {
      padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 3.75rem , 2.2865853659rem  +  7.3170731707vw , 7.5rem )) {
    .page__advantages {
      padding-top: clamp( 3.75rem , 2.2865853659rem  +  7.3170731707vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 2.2865853659rem  +  7.3170731707vw , 7.5rem )) {
    .page__advantages {
      padding-top: calc(3.75rem + 3.75 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 2.2865853659rem  +  7.3170731707vw , 7.5rem )) {
    .page__advantages {
      padding-bottom: clamp( 3.75rem , 2.2865853659rem  +  7.3170731707vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 2.2865853659rem  +  7.3170731707vw , 7.5rem )) {
    .page__advantages {
      padding-bottom: calc(3.75rem + 3.75 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 3.75rem , 0.8231707317rem  +  14.6341463415vw , 11.25rem )) {
    .page__cta {
      padding-top: clamp( 3.75rem , 0.8231707317rem  +  14.6341463415vw , 11.25rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 0.8231707317rem  +  14.6341463415vw , 11.25rem )) {
    .page__cta {
      padding-top: calc(3.75rem + 7.5 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 0.8231707317rem  +  14.6341463415vw , 11.25rem )) {
    .page__cta {
      padding-bottom: clamp( 3.75rem , 0.8231707317rem  +  14.6341463415vw , 11.25rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 0.8231707317rem  +  14.6341463415vw , 11.25rem )) {
    .page__cta {
      padding-bottom: calc(3.75rem + 7.5 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 3.75rem , 0.8231707317rem  +  14.6341463415vw , 11.25rem )) {
    .page__map {
      padding-top: clamp( 3.75rem , 0.8231707317rem  +  14.6341463415vw , 11.25rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 0.8231707317rem  +  14.6341463415vw , 11.25rem )) {
    .page__map {
      padding-top: calc(3.75rem + 7.5 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 0.8231707317rem  +  14.6341463415vw , 11.25rem )) {
    .page__map {
      padding-bottom: clamp( 3.75rem , 0.8231707317rem  +  14.6341463415vw , 11.25rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 0.8231707317rem  +  14.6341463415vw , 11.25rem )) {
    .page__map {
      padding-bottom: calc(3.75rem + 7.5 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 0.8231707317rem  +  14.6341463415vw , 11.25rem )) {
    .page__feedback {
      padding-bottom: clamp( 3.75rem , 0.8231707317rem  +  14.6341463415vw , 11.25rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 0.8231707317rem  +  14.6341463415vw , 11.25rem )) {
    .page__feedback {
      padding-bottom: calc(3.75rem + 7.5 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 1.375rem , 1.0335365854rem  +  1.7073170732vw , 2.25rem )) {
    .title {
      font-size: clamp( 1.375rem , 1.0335365854rem  +  1.7073170732vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.0335365854rem  +  1.7073170732vw , 2.25rem )) {
    .title {
      font-size: calc(1.375rem + 0.875 * (100vw - 20rem) / 51.25);
    }
}

@supports (gap: clamp( 1.5625rem , 0.8795731707rem  +  3.4146341463vw , 3.3125rem )) {
    .items-advantages {
      gap: clamp( 1.5625rem , 0.8795731707rem  +  3.4146341463vw , 3.3125rem );
    }
}

@supports not (gap: clamp( 1.5625rem , 0.8795731707rem  +  3.4146341463vw , 3.3125rem )) {
    .items-advantages {
      gap: calc(1.5625rem + 1.75 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 3.75rem , 3.262195122rem  +  2.4390243902vw , 5rem )) {
    .items-advantages__icon {
      font-size: clamp( 3.75rem , 3.262195122rem  +  2.4390243902vw , 5rem );
    }
}

@supports not (font-size: clamp( 3.75rem , 3.262195122rem  +  2.4390243902vw , 5rem )) {
    .items-advantages__icon {
      font-size: calc(3.75rem + 1.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 1rem , 0.9024390244rem  +  0.487804878vw , 1.25rem )) {
    .items-advantages__text {
      font-size: clamp( 1rem , 0.9024390244rem  +  0.487804878vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9024390244rem  +  0.487804878vw , 1.25rem )) {
    .items-advantages__text {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.4603658537rem  +  7.0731707317vw , 5.5rem )) {
    .apartments__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 0.4603658537rem  +  7.0731707317vw , 5.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.4603658537rem  +  7.0731707317vw , 5.5rem )) {
    .apartments__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 3.625 * (100vw - 20rem) / 51.25);
    }
}

@supports (left: clamp( 1.875rem , 1.387195122rem  +  2.4390243902vw , 3.125rem )) {
    .apartments__item-title {
      left: clamp( 1.875rem , 1.387195122rem  +  2.4390243902vw , 3.125rem );
    }
}

@supports not (left: clamp( 1.875rem , 1.387195122rem  +  2.4390243902vw , 3.125rem )) {
    .apartments__item-title {
      left: calc(1.875rem + 1.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (bottom: clamp( 1.875rem , 1.5335365854rem  +  1.7073170732vw , 2.75rem )) {
    .apartments__item-title {
      bottom: clamp( 1.875rem , 1.5335365854rem  +  1.7073170732vw , 2.75rem );
    }
}

@supports not (bottom: clamp( 1.875rem , 1.5335365854rem  +  1.7073170732vw , 2.75rem )) {
    .apartments__item-title {
      bottom: calc(1.875rem + 0.875 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 1rem , 0.8048780488rem  +  0.9756097561vw , 1.5rem )) {
    .apartments__item-title {
      font-size: clamp( 1rem , 0.8048780488rem  +  0.9756097561vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8048780488rem  +  0.9756097561vw , 1.5rem )) {
    .apartments__item-title {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 1.5625rem , 0.5868902439rem  +  4.8780487805vw , 4.0625rem )) {
    .forms-cta {
      padding-top: clamp( 1.5625rem , 0.5868902439rem  +  4.8780487805vw , 4.0625rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 0.5868902439rem  +  4.8780487805vw , 4.0625rem )) {
    .forms-cta {
      padding-top: calc(1.5625rem + 2.5 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 4.375rem , 3.6432926829rem  +  3.6585365854vw , 6.25rem )) {
    .video__link-ibg::before {
      font-size: clamp( 4.375rem , 3.6432926829rem  +  3.6585365854vw , 6.25rem );
    }
}

@supports not (font-size: clamp( 4.375rem , 3.6432926829rem  +  3.6585365854vw , 6.25rem )) {
    .video__link-ibg::before {
      font-size: calc(4.375rem + 1.875 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.4603658537rem  +  7.0731707317vw , 5.5rem )) {
    .map__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 0.4603658537rem  +  7.0731707317vw , 5.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.4603658537rem  +  7.0731707317vw , 5.5rem )) {
    .map__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 3.625 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.6798780488rem  +  0.9756097561vw , 2.375rem )) {
    .feedback__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.6798780488rem  +  0.9756097561vw , 2.375rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.6798780488rem  +  0.9756097561vw , 2.375rem )) {
    .feedback__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 0.5 * (100vw - 20rem) / 51.25);
    }
}
}

@media (any-hover: hover) {
  a:hover {
    color: #d4c17f;
  }

  .body-header__mouse:hover {
    -webkit-box-shadow: 4px 4px 30px 30px rgba(232, 170, 49, 0.43);
            box-shadow: 4px 4px 30px 30px rgba(232, 170, 49, 0.43);
    -webkit-transform: translate(-50%, 0) scale(1.2);
        -ms-transform: translate(-50%, 0) scale(1.2);
            transform: translate(-50%, 0) scale(1.2);
  }

  .footer__link-icon:hover {
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
            transform: scale(1.4);
  }

  .apartments__items-link-ibg:hover::after {
    opacity: 1;
  }

  .forms-cta__button:hover {
    background-color: #ddc676;
  }

  .video__link-ibg:hover::after {
    background-color: rgba(36, 43, 51, 0.6);
  }

  [class*=balloon__layout]:hover,
  [class*=balloon__content] a:hover {
    font-size: 0.875rem !important;
    font-weight: 700 !important;
  }
}

.webp .header{ background: -webkit-gradient(linear, left top, left bottom, color-stop(11.98%, #242B33), color-stop(51.04%, rgba(45, 52, 60, 0.38)), color-stop(92.19%, #242B33)), url(../img/Header/Header-bg.webp); }

.webp .header{ background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url(../img/Header/Header-bg.webp); }

.webp .page__cta{ background: -webkit-gradient(linear, left top, left bottom, color-stop(10.42%, #242b33), color-stop(50.52%, rgba(36, 43, 51, 0)), color-stop(90.1%, #242b33)), -webkit-gradient(linear, left bottom, left top, from(rgba(36, 43, 51, 0.9)), to(rgba(36, 43, 51, 0.9))), url(../img/main/cta/sta-bg.webp); }

.webp .page__cta{ background: linear-gradient(180deg, #242b33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242b33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url(../img/main/cta/sta-bg.webp); }